<div class="container">
<h1> All Posts </h1>
<div class="row">

  <%@posts.each do |post| %>
    <div class="col-sm">
    <h2><l1><%= post.title %></l1></h2>
    <p class="text-light bg-dark"><l1><%= post.content %></l1></p>
    <p><l1><a href="/posts/<%= post.id %>">details for <%= post.id %></a></li></p>
    <p><l1><a href="/posts/<%= post.id %>/edit">edit page for <%= post.id %></a></li></p>
    <p><l1><a href="/posts/new">new posts</a></li></p>
    </div>
  <% end %>
</div>
<p><l1><a href="/">Home</a></li></p>
</div>

